@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #232427;
  margin-top: -100px;
}

body .newcard{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin-left: 20px;
  border: 1px solid gray;
  margin-right: 50px;
}

body .card{
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  float: right;
  margin-top: -260px;
  margin-left: 800px;
  border: 1px solid gray;
  width: 40%;
  height: 50%;
  margin-right: 50px;
}
